{% extends 'base.html' %}
<!-- ok -->
{% load static %} {% block title %}
<!-- ok -->

{% if site_config %} {{ site_config.site_name }} - Premium E-Commerce {% else %}
HagerBet - Premium E-Commerce {% endif %} {% endblock %} {% block content %}
<!-- Header Section -->
{% include 'home/includes/header.html' %}

<!-- Products Section -->
{% include 'home/includes/products_section.html' %}

<!-- Testimonials Section -->
{% include 'home/includes/testimonials_section.html' %}

<!-- Newsletter Section -->
{% include 'home/includes/newsletter_section.html' %}

<!-- Footer Section -->
{% include 'home/includes/footer.html' %} {% endblock %} {% block extra_js %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}
